
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Return</title>
   
</head>
<body>
    <div> 
        <h2>PayUMoney Response</h2>

        <h1><%= ViewData["Message"]  %></h1>
    </div>
</body>
</html>
